---
layout: default
---
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>

<script src="js/show-hide.js"></script>
<script src="js/d3.min.js"></script>

<a id="top"></a>
<div class="home">
  <div class="grand-total"><strong>Grand total</strong> {{ site.data.councils.repox.total }} ({{ site.data.councils.repox.hosting-totals.hosted-total }} hosted, {{ site.data.councils.repox.hosting-totals.non-hosted-total }} non-hosted)</div>
  <div class="host-total"><strong>By host</strong> NYH {{ site.data.councils.repox.hosting-totals.nyh-total }} |  HRVH {{ site.data.councils.repox.hosting-totals.hrvh-total }} | DCMNY {{ site.data.councils.repox.hosting-totals.dcmny-total }}</div>
  <div id="switcher">View by provider</div>
  <div id="councils">
    {% for c in site.data.councils.repox.councils.council %}
    <div class="council">
      <div class="title"><img src="images/right.png"/>&nbsp;{{ c.name }}: {{ c.total }}</div>
<div class="provider">
  <div class="host-total"><strong>By host</strong> NYH {{ c.hosting-totals.nyh-council-total }} |  HRVH {{ c.hosting-totals.hrvh-council-total }} | DCMNY {{ c.hosting-totals.dcmny-council-total }}</div>
	{% for p in c.provider %}
	<div class="coll">
	  <div class="owner"><img src="images/right.png"/>&nbsp;{{ p.name }}: {{ p.total }}</div>
	  <div class="colls">
	    <table>
	      <tbody>
		{% if p.coll['name'] != nil %}
		<tr><td>{{ p.coll['name'] }}</td><td>{{ p.coll['count'] }}</td></tr>
		{% else %}
		{% for col in p.coll %}
		<tr><td>{{ col.name }}</td><td>{{ col.count }}</td></tr>
		{% endfor %}
		{% endif %}
	      </tbody>
	    </table>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
    {% endfor %}
    <a href="#top">Top of page</a>
  </div>

  <div id="providers">
    {% for c in site.data.councils.repox.owners.owner %}
    <div class="provider">
      <div class="title"><img src="images/right.png"/>&nbsp;{{ c.name }}: {{ c.total }}</div>
      <div class="colls">
	{% if c.coll %}
	{% if c.coll['name'] != nil %}
	<div class="coll">{{ c.coll['name'] }}: {{ c.coll['total'] }}</div>
	{% else %}
	{% for p in c.coll %}
	<div class="coll">{{ p['name'] }}: {{ p['total'] }}</div>
	{% endfor %}
	{% endif %}
	{% endif %}
      </div>
    </div>
    {% endfor %}
    <a href="#top">Top of page</a>
  </div>
</div>
