.council .title {
    font-weight: bold;
}

.council .owner {
    font-weight: 400;
}

.council .coll .colls {
    padding-left: 20px;
}

.council .coll {
    padding-left: 20px;
}

.council .provider { display:none; }
.provider .colls { display:none; }
.wrapper .title { cursor: pointer; }
.wrapper .owner { cursor: pointer; }