.council .title {
    font-weight: bold;
    font-size:110%;
}

.provider .title {
    font-weight: bold;
    font-size:110%;
}

.council .colls {
    padding-left: 20px;
}

.council .coll {
    padding-left: 20px;
}

.provider .coll {
    padding-left: 20px;
}

.council .provider { display:none; }
.provider .colls { display:none; padding-bottom:5px; }
.wrapper .title { cursor: pointer; padding-bottom:5px; }

.wrapper .owner {
    font-weight:bold;
    font-size:105%;
    cursor: pointer;
    padding-bottom: 5px;
    color:#708090;
}
.wrapper table {
    padding-left:20px;
}

#providers {
    display: none;
}

#switcher {
    color:#0000ff;
    font-size:120%;
    padding-bottom: 10px;
}